!DOCTYPE html>
<html lang="hu">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/schedules/schedules.css" />
        <title>Menetrend</title>
    </head>
    <body>
        <%- include('../nav.ejs') %>
        <div id="menetrend-kontener">
            <h1>Menetrend</h1>
            <div class="menetrend-kontener">
                <form>
                    <input type="hidden" id="id" value="<%= cake._id %>" />
                    <table>
                        <tr>
                            <td>Név:</td>
                            <td><input type="text" id="nev" value="<%= schedule.nev %>" /></td>
                        </tr>
                        <tr>
                            <td>Ár:</td>
                            <td><input type="number" id="ar" value="<%= schedule.ar %>" /></td>
                        </tr>
                        <tr>
                            <td>Leírás:</td>
                            <td><textarea id="leiras"><%= schedule.leiras %></textarea></td>
                        </tr>
                        <tr>
                            <td>Kép 1:</td>
                            <td><input type="text" id="kep1" value="<%= schedule.kepek[0] %>" /></td>
                        </tr>
                        <tr>
                            <td>Kép 2:</td>
                            <td><input type="text" id="kep2" value="<%= schedule.kepek[1] %>" /></td>
                        </tr>
                        <tr>
                            <td>Kép 3:</td>
                            <td><input type="text" id="kep3" value="<%= schedule.kepek[2] %>" /></td>
                        </tr>
                        <tr>
                            <td><button onclick="modositas(event)">Módosítás</button></td>
                            <td></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
        <script src="/js/menetrendek.mjs"></script>
    </body>
</html>