<!DOCTYPE html>
<html lang="hu">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/schedules/schedules.css" />
        <title>Menetrendek</title>
    </head>
    <body>
        <%- include('nav.ejs') %>
        <div id="menetrend-kontener">
            <h1>Menetrendek</h1>
            <p><a href="/api/new-schedule">Új menetrend felvétele</a></p>
            <div id="menetrendek-kontener">
                <% schedules.forEach(elem => { %>
                <div class="menetrend">
                    <h1><%= elem.nev %></h1>
                    <h5>Ár: <%= elem.ar %> Ft</h5>
                    <div class="menetrend">
                        <% elem.kepek.forEach(item => { %>
                        <div class="menetrend-kep">
                            <img src="<%= item %>" alt="<%= item %>" />
                        </div>
                        <% }) %>
                    </div>
                    <p><%= elem.leiras %></p>
                    <div id="menetrend-gombok">
                        <a href="/api/schedules-backend/<%= elem._id %>">Lekérés</a>
                        <button onclick="torol('<%= elem._id %>')">Törlés</button>
                    </div>
                </div>
                <% }) %>
            </div>
        </div>
        <script src="/js/menetrendek.mjs"></script>
    </body>
</html>