<!DOCTYPE html>
<html lang="hu">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/one_book.css" />
        <title>Könyv backend</title>
    </head>
    <body>
        <%- include('../nav.ejs') %>
        <div id="book-kontener">
            <h1>Könyv</h1>
            <div class="konyv">
                <table>
                    <%- include('tr_elem.ejs', { td: 'Cím', targy: book.cim }) %>
                    <%- include('szerzok.ejs', { td: 'Szerzők', targy: book }) %>
                    <%- include('tr_elem.ejs', { td: 'Zsáner', targy: book.zsaner }) %>
                    <%- include('tr_elem.ejs', { td: 'Oldalszám', targy: book.oldalszam }) %>
                    <%- include('tr_elem.ejs', { td: 'Tartalom', targy: book.tartalom }) %>
                    <%- include('tr_elem.ejs', { td: 'Ár', targy: book.ar + ' Ft' }) %>
                    <%- include('tr_elem.ejs', { td: 'Példányszám', targy: book.peldanySzam + ' db' }) %>
                    <%- include('tr_elem.ejs', { td: 'Eladott', targy: book.eladott + ' db' }) %>
                    <%- include('tr_elem.ejs', { td: 'Kedvezmény', targy: book.kedvezmeny }) %>
                    <%- include('tr_kep.ejs', { td: 'Kép', targy: book }) %>
                    <tr>
                        <td style="border: none;">
                            <a class="modosit" href="/api/books-backend/modosit/<%= book._id %>">Módosítás</a>
                        </td>
                        <td style="border: none;"></td>
                    </tr>
                </table>
            </div>
        </div>
    </body>
</html>
