<!DOCTYPE html>
<html lang="hu">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/new_book.css" />
        <title>Új könyv felvétele</title>
    </head>
    <body>
        <%- include('../nav.ejs') %>
        <div id="new-book-kontener">
            <h1>Új könyv felvétele</h1>
            <form>
                <table>
                    <%- include('tr_text.ejs', { td: 'Cím',  id: 'cim' }) %>
                    <%- include('tr_text.ejs', { td: 'Szerzők',  id: 'szerzok' }) %>
                    <%- include('zsaner.ejs') %>
                    <%- include('tr_number.ejs', { td: 'Oldalszám',  id: 'oldalszam' }) %>
                    <%- include('tr_textarea.ejs', { td: 'Tartalom',  id: 'tartalom' }) %>
                    <%- include('tr_number.ejs', { td: 'Ár',  id: 'ar' }) %>
                    <%- include('tr_number.ejs', { td: 'Példányszám',  id: 'peldanySzam' }) %>
                    <%- include('kedvezmeny.ejs') %>
                    <%- include('tr_text.ejs', { td: 'Kép',  id: 'kep' }) %>
                    <tr>
                        <td>
                            <button onclick="letrehoz(event)">Létrehoz</button>
                        </td>
                        <td></td>
                    </tr>
                </table>
            </form>
        </div>
        <script src="/js/new_book_letrehoz.mjs"></script>
    </body>
</html>
