<!DOCTYPE html>
<html lang="hu">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/new_book.css" />
        <title>Könyv módosítás</title>
    </head>
    <body>
        <%- include('../nav.ejs') %>
        <div id="new-book-kontener">
            <h1>Könyv módosítás</h1>
            <form>
                <table>
                    <%- include('tr_text.ejs', { td: 'Cím',  id: 'cim', value: book.cim }) %>
                    <%- include('tr_text.ejs', { td: 'Szerzők',  id: 'szerzok', value: szerzok }) %>
                    <%- include('zsaner.ejs', { zsaner: book.zsaner }) %>
                    <%- include('tr_number.ejs', { td: 'Oldalszám',  id: 'oldalszam', value: book.oldalszam }) %>
                    <%- include('tr_textarea.ejs', { td: 'Tartalom',  id: 'tartalom', value: book.tartalom }) %>
                    <%- include('tr_number.ejs', { td: 'Ár',  id: 'ar', value: book.ar }) %>
                    <%- include('tr_number.ejs', { td: 'Példányszám',  id: 'peldanySzam', value: book.peldanySzam }) %>
                    <%- include('kedvezmeny.ejs', { kedvezmeny: book.kedvezmeny }) %>
                    <%- include('tr_regikep.ejs', { td: 'Régi kép',  id: 'regikep', value: book.kep }) %>
                    <%- include('tr_ujkep.ejs', { td: 'Új kép',  id: 'ujkep' }) %>
                    <tr>
                        <td>
                            <button type="submit" onclick="modosit(event, '<%= book._id %>', '<%= book.kep %>')">Módosít</button>
                        </td>
                        <td></td>
                    </tr>
                </table>
            </form>
        </div>
        <script src="/js/book_modosit.mjs"></script>
    </body>
</html>
