<!DOCTYPE html>
<html lang="hu">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/css/users.css" />
		<title>Vásárlások</title>
	</head>
	<body>
		<%- include('../nav.ejs') %>
		<div id="users-kontener">
			<h1>Felhasználók</h1>
			<div id="users">
				<% felhasznalok.forEach(elem => { %>
					<div class="user-tarto">
						<p><b>Vásárló név:</b> <%= elem.nev %></p>
						<p><b>Vásárló e-mail:</b> <%= elem.email %></p>
						<p><b>Vásárló státusz:</b> <%= elem.role %></p>
						<h4>Vásárlások:</h4>
						<% vasarlasok.forEach(item => { %>
							<ul>
							<% if (item.vasarlo.email === elem.email) { %>
								<%- include('./vasarlas.ejs', { konyvek: item.konyvek, idopont: item.idopont }) %>
							<% } %>
							</ul>
						<% }) %>
					</div>
				<% }) %>
			</div>
		</div>
	</body>
</html>